.blue-color {
    color: var(--blue-color);
}

.text-uppercase {
    text-transform: capitalize;
}

.text-underline {
    text-underline-offset: 2px;
    color: #747272;
}

.text-bold {
    font-weight: 700;
}

.small_text {
    font-size: 12px;
    margin-top: 8px;

    @media  screen and (min-width: $bp-tablet) {
    margin-top: 14px;
    }
}