.link {
    text-decoration: none;
    transition: color 0.5s;
   }

.link {
    color: var(--primary-color);
}

.link:visited {
    color: var(--primary-color);
}

.link:hover {
    color: var(--blue-color);
}
