.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px;


&__container {
    display: flex;
    width: 1200px;
    align-items: center;
    flex-grow: 1;
    gap: 113px;
}

&__button {
    background-color: white;
    width: 390px;
    display: flex;
    padding: 15px 29px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    cursor: pointer;
}

}