.hero-section {
    padding-top: 71px;
    padding-left: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 12px;

    @media screen and (min-width: $bp-tablet) {
    padding-top: 150px;
    padding-left: 206px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 80px;
    }

    @media screen and (min-width: $bp-desctop) {
    margin-bottom: 195px;
        }

    @media screen and (min-width: 1500px) {
    margin-bottom: 300px;
        }
    
    @media screen and (min-width: 1920px) {
    margin-bottom: 400px;
        }

    @media screen and (min-width: 2100px) {
    margin-bottom: 600px;
        }

    &__title {
        font-size: 54px;
        line-height: 1;
        
        @media screen and (min-width: $bp-tablet) {
        font-size: 114px;
        line-height: 0.8;
        padding-top: 16px;
        }
    }
    
}
