.mobile-menu {
position: fixed;
top: 0;
right: 0;
width: 480px;
height: 320px;
padding: 16px 20px;
background-color: #fafafa;
transform: translateX(100%);
transition: transform 0.5s;


&__logo {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 32px;
    
}

&__links {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 20px;

}

&__socials {
    display: flex;
    gap: 16px;
    stroke: var(--primary-color);
    fill: var(--primary-color);
}

&__btn-close {
    position: absolute;
    display: flex;
    top: 16px;
    right: 20px;
    background-color: transparent;
    fill: var(--white-color);
    stroke: var(--primary-color);
    border: none;
    padding: 0;

    &:hover {
        border: none;
    }
    
}


    &.is-open {
    transform: translateX(0);
    }

   
}




