
.procedeure-section {

&__slider {
    display: flex;
    gap: 32px;
    align-items: center;
    }

 &__container {
     overflow: hidden;
     gap: 16px;
         
}

&__procedure {
    position: relative;
    width: 344px;
    height: 456px;
    transition: transform 0.3s;
}

&__procedure:hover {
    transform: scale(1.075);
}

&__title {
    font-size: 32px;
    @media  screen and (min-width: $bp-desctop) {
    font-size: 64px;    
    }
}

&__button {
     @media screen and (max-width: $bp-mobile) {
    display: none;
    }
}
}

.mask {
    color: var(--white-color);
    font-size: 22px;
    padding-top: 372px;
    padding-left: 115px;
    padding-right: 77px;
    text-align: center;
    display: flex;
}

.format-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 344px;
    // height: auto;
    object-fit: cover;
}
