.why-we-section {
    flex-shrink: 0;
    text-align: center;

    &__title {
        font-size: 32px;

        @media screen and (min-width: $bp-desctop) {
            font-size: 64px;
        }

    }

    &__cards {
        border: 1px solid lightgrey;
        border-radius: 32px;
        max-width: 316px;
        height: 181px;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        align-items: center;
            justify-content: center;
        @media screen and (min-width: $bp-desctop) {
        display: flex;
        flex-direction:row;
        justify-content: center;
        gap: 56px;
        }
    }

    &__card {
        padding: 24px 32px;
    }

    &__text {
        margin-top: 8px;
    }

    &__icon {
        fill: var(--blue-color);
    }
}



